.main-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .user{
        margin-top: 25px;
        display: flex;
        flex-direction: column;

    }
}